{% extends "ecommerce/base.html" %}
{% block content %}

<main class="mt-5 pt-4">
  <div class="container wow fadeIn">
    <h2 class="my-5 h2 text-center">Checkout form</h2>

    <div class="row">
      <div class="col-md-8 mb-4">
        <div class="card">
          <form class="card-body" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <!-- CONTACT INFO -->
            <h5 class="mt-2 text-center">Contact Information</h5>
            {% if user.is_authenticated %}
            <div class="row">
              <div class="col-md-6 mb-2">
                <div class="md-form">
                  <input type="text" id="first_name" class="form-control" name="first_name" value="{{ user.first_name }}">
                </div>
              </div>
              <div class="col-md-6 mb-2">
                <div class="md-form">
                  <input type="text" id="last_name" name="last_name" class="form-control" value="{{ user.last_name }}"/>
                </div>
              </div>
            </div>
            <div class="md-form mb-3">
              <input type="email" id="email" name="email" class="form-control" value="{{ user.email }}">
              <label for="email" class="">Email</label>
            </div>
            {% else %}
            <div class="row">
              <div class="col-md-6 mb-2">
                <div class="md-form">
                  <input type="text" id="first_name" name="first_name" class="form-control">
                  <label for="first_name" class="">First name</label>
                </div>
              </div>
              <div class="col-md-6 mb-2">
                <div class="md-form">
                  <input type="text" id="last_name" name="last_name" class="form-control"/>
                  <label for="last_name" class="">Last name</label>
                </div>
              </div>
            </div>
            <div class="md-form mb-3">
              <input type="email" id="email" name="email" class="form-control" placeholder="username@mail.com">
              <label for="email" class="">Email</label>
            </div>
            {% endif %}
            <div class="row mb-4">
              <div class="col-md-6 mb-2">
                <div class="md-form ">
                  {{ form.contact1 }}
                  <label for="{{ form.contact1.id_for_label }}" class="">Contact number</label>
                </div>
              </div>
              <div class="col-md-6 mb-2">
                <div class="md-form ">
                  {{ form.contact2 }}
                  <label for="{{ form.contact2.id_for_label }}" class="">Alternate number (optional)</label>
                </div>
              </div>
            </div>

            <!-- SHIPPING ADDRESS -->
            <h5 class="mt-2 text-center">Shipping Address</h5>
            <div class="toggle_shipping_form">
              <div class="md-form mb-5">
                {{ form.shipping_address1.errors }}
                {{ form.shipping_address1 }}
                <label for="{{ form.shipping_address1.id_for_label }}">Address</label>
              </div>
              <div class="md-form mb-4">
                {{ form.shipping_address2.errors }}
                {{ form.shipping_address2 }}
                <label for="{{ form.shipping_address2.id_for_label }}">Address 2 (optional)</label>
              </div>

              <div class="row">
                <div class="col-lg-6 col-md-12 mb-2">
                  {{ form.shipping_country.errors }}
                  <label for="{{ form.shipping_country.id_for_label }}">Country</label>
                  {{ form.shipping_country }}

                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                  {{ form.shipping_zip_code.errors }}
                  <label for="{{ form.shipping_zip_code.id_for_label }}">Zip</label>
                  {{ form.shipping_zip_code }}
                </div>
              </div>
              <div class="custom-control custom-checkbox">
                {{ form.chk_save_shipping_info.errors }}
                {{ form.chk_save_shipping_info }}
                <label class="custom-control-label" for="{{ form.chk_save_shipping_info.id_for_label }}">Save shipping
                  address as default</label>
              </div>
            </div>

            <div class="custom-control custom-checkbox">
              {{ form.chk_same_address.errors }}
              {{ form.chk_same_address }}
              <label class="custom-control-label" for="{{ form.chk_same_address.id_for_label }}">Billing
                address is the
                same as my shipping address</label>
            </div>
            <!-- Use saved shipping address -->
            {% if shipping_address %}
            <div class="custom-control custom-checkbox">
              {{ form.chk_use_default_shipping.errors }}
              {{ form.chk_use_default_shipping }}
              <label class="custom-control-label" for="{{ form.chk_use_default_shipping.id_for_label }}">
                Use saved shipping address ({{ shipping_address.address1|truncatechars:20 }})
              </label>
            </div>
            {% endif %}
            <!-- <hr> -->
            <!-- BILLING ADDRESS -->
            <div class="toggle_billing_address">
              <h5 class="mt-5 text-center">Billing Address</h5>
              <div class="toggle_billing_form">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="md-form mb-5">
                  {{ form.billing_address1.errors }}
                  {{ form.billing_address1 }}
                  <label for="{{ form.billing_address1.id_for_label }}">Address</label>
                </div>
                <div class="md-form mb-4">
                  {{ form.billing_address2.errors }}
                  {{ form.billing_address2 }}
                  <label for="{{ form.billing_address2.id_for_label }}">Address 2 (optional)</label>
                </div>

                <div class="row">
                  <div class="col-lg-6 col-md-12 mb-2">
                    {{ form.billing_country.errors }}
                    <label for="{{ form.billing_country.id_for_label }}">Country</label>
                    {{ form.billing_country }}

                  </div>
                  <div class="col-lg-4 col-md-6 mb-2">
                    {{ form.billing_zip_code.errors }}
                    <label for="{{ form.billing_zip_code.id_for_label }}">Zip</label>
                    {{ form.billing_zip_code }}
                  </div>
                </div>
                <div class="custom-control custom-checkbox">
                  {{ form.chk_save_billing_info.errors }}
                  {{ form.chk_save_billing_info }}
                  <label class="custom-control-label" for="{{ form.chk_save_billing_info.id_for_label }}">Save
                    billing
                    address as default</label>
                </div>
              </div>
              <!-- Use saved billing address -->
              {% if billing_address %}
              <div class="custom-control custom-checkbox">
                {{ form.chk_use_default_billing.errors }}
                {{ form.chk_use_default_billing }}
                <label class="custom-control-label" for="{{ form.chk_use_default_billing.id_for_label }}">
                  Use saved billing address ({{ billing_address.address1|truncatechars:20 }})
                </label>
              </div>
            </div>
            {% endif %}
           
            <!-- PAYMENT OPTIONS -->
            <h5 class="mt-5 text-center">Payment Options</h5>
            <hr>
            <div class="d-block my-3">
              {{ form.payment_option.errors }}
              {% for payment in form.payment_option %}
              <div class="custom-control custom-radio">
                {{ payment.tag }}
                <label for="{{ payment.id_for_label }}" class="custom-control-label">
                  {{ payment.choice_label }}
                </label>
              </div>
              {% endfor %}
            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
          </form>
        </div>
      </div>

      <!-- CART SUMMARY -->
      <div class="col-md-4 mb-4">
        {% include "payment/summary.html" %}
      </div>
    </div>
  </div>
</main>
{% endblock content %}

{% block extra_scripts %}
<script>
const toggle_shipping_form = $('.toggle_shipping_form');
const toggle_billing_form = $('.toggle_billing_form');
const toggle_billing_address = $('.toggle_billing_address');

const use_default_shipping = document.querySelector("input[name=chk_use_default_shipping]");
const use_default_billing = document.querySelector("input[name=chk_use_default_billing]");
const use_same_address = document.querySelector("input[name=chk_same_address]");

use_default_shipping.addEventListener('change', function() {
  if (this.checked) {
    toggle_shipping_form.hide();
  } else {
    toggle_shipping_form.show();
  }
})

use_default_billing.addEventListener('change', function() {
  if (this.checked) {
    toggle_billing_form.hide();
  } else {
    toggle_billing_form.show();
  }
})

use_same_address.addEventListener('change', function() {
  if (this.checked) {
    toggle_billing_address.hide();
  } else {
    toggle_billing_address.show();
  }
})

</script>
{% endblock extra_scripts %}