{% extends "ecommerce/base.html" %}
{% block content %}

<main class="mt-5 pt-4">
  <div class="container wow fadeIn">
    <h2 class="my-5 h2 text-center">Checkout form</h2>

    <div class="row">
      <div class="col-md-8 mb-4">
        <div class="card">
          <form class="card-body" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <!-- CONTACT INFO -->
            <h5 class="mt-2 text-center">Contact Information</h5>
            <div class="row">
              <div class="col-md-6 mb-2">
                <div class="md-form">
                  {{ form.first_name }}
                  <label for="{{ form.first_name.id_for_label }}" class="">First name</label>
                </div>
              </div>
              <div class="col-md-6 mb-2">
                <div class="md-form">
                  {{ form.last_name }}
                  <label for="{{ form.last_name.id_for_label }}" class="">Last name</label>
                </div>
              </div>
            </div>

            <div class="md-form mb-3">
              <!-- <input type="text" id="email" class="form-control" placeholder="youremail@example.com"> -->
              {{ form.email }}
              <label for="{{ form.email.id_for_label }}" class="">Email</label>
            </div>

            <div class="row mb-4">
              <div class="col-md-6 mb-2">
                <div class="md-form ">
                  {{ form.contact1 }}
                  <label for="{{ form.contact1.id_for_label }}" class="">Contact number</label>
                </div>
              </div>
              <div class="col-md-6 mb-2">
                <div class="md-form ">
                  {{ form.contact2 }}
                  <label for="{{ form.contact2.id_for_label }}" class="">Alternate number (optional)</label>
                </div>
              </div>
            </div>

            <!-- SHIPPING ADDRESS -->
            <h5 class="mt-2 text-center">Shipping Address</h5>
            <div class="md-form mb-5">
              {{ form.shipping_address1.errors }}
              {{ form.shipping_address1 }}
              <label for="{{ form.shipping_address1.id_for_label }}">Address</label>
            </div>
            <div class="md-form mb-4">
              {{ form.shipping_address2.errors }}
              {{ form.shipping_address2 }}
              <label for="{{ form.shipping_address2.id_for_label }}">Address 2 (optional)</label>
            </div>

            <div class="row">
              <div class="col-lg-6 col-md-12 mb-2">
                {{ form.shipping_country.errors }}
                <label for="{{ form.shipping_country.id_for_label }}">Country</label>
                {{ form.shipping_country }}

              </div>
              <div class="col-lg-4 col-md-6 mb-2">
                {{ form.shipping_zip_code.errors }}
                <label for="{{ form.shipping_zip_code.id_for_label }}">Zip</label>
                {{ form.shipping_zip_code }}
              </div>
            </div>

            <div class="custom-control custom-checkbox">
              {{ form.chk_same_address.errors }}
              {{ form.chk_same_address }}
              <label class="custom-control-label" for="{{ form.chk_same_address.id_for_label }}">Billing
                address is the
                same as my shipping address</label>
            </div>
            <div class="custom-control custom-checkbox">
              {{ form.chk_save_shipping_info.errors }}
              {{ form.chk_save_shipping_info }}
              <label class="custom-control-label" for="{{ form.chk_save_shipping_info.id_for_label }}">Save shipping
                address as default</label>
            </div>
            {% if shipping_address %}
            <div class="custom-control custom-checkbox">
              {{ form.chk_use_default_shipping.errors }}
              {{ form.chk_use_default_shipping }}
              <label class="custom-control-label" for="{{ form.chk_use_default_shipping.id_for_label }}">
                Use saved shipping address ({{ shipping_address.address1|truncatechars:20 }})
              </label>
            </div>
            {% endif %}
            <!-- <hr> -->
            <!-- BILLING ADDRESS -->
            <h5 class="mt-5 text-center">Billing Address</h5>
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="md-form mb-5">
              {{ form.billing_address1.errors }}
              {{ form.billing_address1 }}
              <label for="{{ form.billing_address1.id_for_label }}">Address</label>
            </div>
            <div class="md-form mb-4">
              {{ form.billing_address2.errors }}
              {{ form.billing_address2 }}
              <label for="{{ form.billing_address2.id_for_label }}">Address 2 (optional)</label>
            </div>

            <div class="row">
              <div class="col-lg-6 col-md-12 mb-2">
                {{ form.billing_country.errors }}
                <label for="{{ form.billing_country.id_for_label }}">Country</label>
                {{ form.billing_country }}

              </div>
              <div class="col-lg-4 col-md-6 mb-2">
                {{ form.billing_zip_code.errors }}
                <label for="{{ form.billing_zip_code.id_for_label }}">Zip</label>
                {{ form.billing_zip_code }}
              </div>
            </div>
            <div class="custom-control custom-checkbox">
              {{ form.chk_save_billing_info.errors }}
              {{ form.chk_save_billing_info }}
              <label class="custom-control-label" for="{{ form.chk_save_billing_info.id_for_label }}">Save
                billing
                address as default</label>
            </div>
            {% if billing_address %}
            <div class="custom-control custom-checkbox">
              {{ form.chk_use_default_billing.errors }}
              {{ form.chk_use_default_billing }}
              <label class="custom-control-label" for="{{ form.chk_use_default_billing.id_for_label }}">
                Use saved billing address ({{ billing_address.address1|truncatechars:20 }})
              </label>
            </div>
            {% endif %}
            <!-- <hr> -->
            <!-- PAYMENT OPTIONS -->
            <h5 class="mt-5 text-center">Payment Options</h5>
            <hr>
            <div class="d-block my-3">
              {{ form.payment_option.errors }}
              {% for payment in form.payment_option %}
              <div class="custom-control custom-radio">
                {{ payment.tag }}
                <label for="{{ payment.id_for_label }}" class="custom-control-label">
                  {{ payment.choice_label }}
                </label>
              </div>
              {% endfor %}
            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
          </form>
        </div>
      </div>

      <!-- CART SUMMARY -->
      <div class="col-md-4 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your cart</span>
          <span class="badge badge-secondary badge-pill">{{ order.get_cart_items }}</span>
        </h4>
        <ul class="list-group mb-3 z-depth-1">
          {% for item in items %}
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">{{ item.item.item.name|truncatechars:20 }} ({{ item.item.name }})
                <strong>x{{ item.quantity }}</strong></h6>
              <small class="text-muted">{{ item.item.description|truncatechars:35  }}</small>
            </div>
            <span class="text-muted">${{ item.item.price }}</span>
          </li>
          {% endfor %}
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>EXAMPLECODE</small>
            </div>
            <span class="text-success">-$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>${{ order.get_cart_total }}</strong>
          </li>
        </ul>

        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username"
              aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-secondary btn-md waves-effect m-0" type="button">Redeem</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

{% endblock content %}