<section class="text-center mb-4">

    <!--Grid row-->
    <div class="row wow fadeIn">
      {% for item in page_obj %}
      <!--DONG-->
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img src="{{ item.image.url }}" class="card-img-top"
              alt="">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
          <div class="card-body text-center">
            <!--Category & Title-->
            <a href="" class="grey-text">
              <h5>Outwear</h5>
            </a>
            <h5>
              <strong>
                <a href="{% url 'ecommerce:item' item.id 'regular' %}" class="dark-grey-text">{{ item.name|truncatechars:20 }}
                  <span class="badge badge-pill danger-color">{{ item.get_item_label_display }}</span>
                </a>
              </strong>
            </h5>

            <h4 class="font-weight-bold blue-text">
              <strong>{{ item.price }}$</strong>
            </h4>

          </div>
        </div>
      </div>
      <!--DONG-->
      {% endfor %}

    </div>
    <!--Grid row-->

  </section>
  <!--Section: Products v.3-->