{% extends "ecommerce/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row">
        <div class="col-md-6 mb-4">
          {% if variation_images.count > 1 %}
          <div id="carouselExampleControls" class="carousel slide wow fadeIn" data-ride="carousel">
            <div class="carousel-inner">
              {% for image in variation_images %}
              <div class="carousel-item {% if forloop.first %} active {% endif %}">
                <img class="d-block w-100" src="{{ image.image.url }}" alt="{{ image.name }}">
              </div>
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <i class="fas fa-chevron-left"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <i class="fas fa-chevron-right"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
          {% else %}
          <img class="d-block w-100" src="{{ variation_images.first.image.url }}" alt="{{ image.name }}">
          {% endif %}
        </div>
      
        <!--2nd Grid column-->
        <div class="col-md-6 mb-4">
          <div class="p-4">
            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">Category 2</span>
              </a>
              <a href="">
                <span class="badge blue mr-1">New</span>
              </a>
              <a href="">
                <span class="badge red mr-1">Bestseller</span>
              </a>
            </div>

            <p class="lead">
              <span class="mr-1">
                <del>$200</del>
              </span>
              <span>$100</span>
            </p>
            <p class="lead font-weight-bold">{{ variation.item.name }} ({{ variation.name }})</p>
            <p>{{ variation.description }}</p>
            
            <!-- Button trigger modal -->
            <div class="mb-3 mt-4">
            <strong><a data-toggle="modal" href="#variationModal">Available Variations</a></strong>
            </div>
            <form class="d-flex justify-content-left" action="{% url 'ecommerce:add-to-cart' variation.id 1 %}" method="POST">
              {% csrf_token %}
              <!-- Default input -->
              <!-- <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px"> -->
              <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>
            </form>
          </div>
        </div>
      </div>

      <!-- Item Variation Modal -->
      <div class="modal fade" id="variationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Select Variation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  {% for var in variations %}
                  <div class="col-md-4">
                    <div class="card my-3">

                      <!--Card image-->
                      <div class="view overlay mt-4">
                        <!-- <img src="{{ test.image.url }}" class="card-img-top" alt=""> -->
                        <img src="{{ var.variationimage_set.first.image.url }}" class="card-img-top" alt="">
                        <a href="{% url 'ecommerce:item' var.item.id var.name %}" >
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>
                      <!--Card image-->
                      <div class="card-body text-center">
                        <!--Category & Title-->
                        <a href="" class="grey-text">
                          <h5>Outwear</h5>
                        </a>
                        <h5>
                          <strong>
                            <a href="#" class="dark-grey-text">mug</a>
                          </strong>
                        </h5>
                        <h4 class="font-weight-bold blue-text">
                          <strong>{{ var.price }}$</strong>
                        </h4>
                      </div>
                    </div>
                  </div>
                  {% endfor %}

                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>





      <hr>

      <div class="row d-flex justify-content-center wow fadeIn">
        <div class="col-md-6 text-center">
          <h4 class="my-4 h4">Additional information</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
            voluptates,
            quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>
        </div>
      </div>
      <!-- OTHER ITEMS -->
      <div class="row">
        {% for item in other_items %}
        <div class="col-lg-4 col-md-12 mb-4 text-center">
          <a href="{% url 'ecommerce:item' item.id 'regular' %}">
            <img src="{{ item.image.url }}" class="img-fluid other-items" alt="">
          </a>
        </div>
        {% endfor %}
      </div>

      <hr>

      <div class="row d-flex justify-content-center wow fadeIn">
        <div class="col-md-6 text-center">
          <h4 class="my-4 h4">Customer Reviews</h4>
          <p>No Reviews have been written for this product.</p>
          <button class="btn btn-outline-secondary btn-md my-0 p" data-toggle="modal" data-target="#reviewModal">Write a Review</button>
        </div>
      </div>
      <!-- Submit Item Review Modal -->
      <!-- Modal -->
      <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Review Item</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="POST">
              <div class="modal-body text-center">
                <h4 class="h4">{{ variation.item.name }} ({{ variation.item.category.name}})</h4>
                <img class="img-review" src="{{ variation.item.image.url }}">
                <div class="star-rating mb-4"> 
                  <span class="fa fa-star-o fa-lg"></span>
                  <span class="fa fa-star-o fa-lg"></span>
                  <span class="fa fa-star-o fa-lg"></span>
                  <span class="fa fa-star-o fa-lg"></span>
                  <span class="fa fa-star-o fa-lg"></span>
                  <input type="hidden" id="rating-value" name="rating-value" value="0">
                </div>

                
                  {% csrf_token %}
                  {{ review_form }}
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-white btn-md my-0 p" data-dismiss="modal">Cancel</button>
                <button type="input" class="btn btn-secondary btn-md my-0 p">Submit Review</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- <div class="row wow fadeIn">
        <div class="col-lg-4 col-md-12 mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">
        </div>
      </div> -->
     
    </div>
  </main>
  <!--Main layout-->

  <!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="pt-4">
      <a class="btn btn-outline-white" href="https://mdbootstrap.com/docs/jquery/getting-started/download/" target="_blank"
        role="button">Download MDB
        <i class="fas fa-download ml-2"></i>
      </a>
      <a class="btn btn-outline-white" href="https://mdbootstrap.com/education/bootstrap/" target="_blank" role="button">Start
        free tutorial
        <i class="fas fa-graduation-cap ml-2"></i>
      </a>
    </div>
    <!--/.Call to action-->

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/mdbootstrap" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="https://twitter.com/MDBootstrap" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>

      <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>

      <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
        <i class="fab fa-google-plus-g mr-3"></i>
      </a>

      <a href="https://dribbble.com/mdbootstrap" target="_blank">
        <i class="fab fa-dribbble mr-3"></i>
      </a>

      <a href="https://pinterest.com/mdbootstrap" target="_blank">
        <i class="fab fa-pinterest mr-3"></i>
      </a>

      <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>

      <a href="http://codepen.io/mdbootstrap/" target="_blank">
        <i class="fab fa-codepen mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com </a>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->

{% endblock content %}

{% block extra_scripts %}
<script src="{% static 'ecommerce/js/item-app.js' %}"></script>
{% endblock extra_scripts %}