{% for review in reviews %}
<div class="media">
  
    <img class="mr-3 rounded-circle img-reviewer" src="{{ review.customer.image.url }}" alt="Generic placeholder image">

  <div class="media-body mb-2">
    <!-- <h5 class="mt-0">Media heading</h5> -->
    {% if review.customer.user.username %}
      <h5 class="mt-0">{{ review.customer.user.username }}</h5>
    {% else %}
      <h5 class="mt-0">User{{ review.customer.id }}</h5>
    {% endif %}
    <h6>{{ review.date_updated|date:"d M o"|upper }}</h6>
    <div class="rating-{{ review.rating }}"></div>
    <p>{{ review.review }}</p>
  </div>
</div>
{% endfor %}