
{% extends "ecommerce/base.html" %}
{% load static %}
{% block content %}
<!-- <img src="{% static 'ecommerce/img/pink-hearts.jpg' %}" class="img-responsive" alt="image" width="100%" height="auto" /> -->
<!-- <div class="row">
  <div class="col-md-6 no-padding-right">
    <img class="img-fluid img-title" src="#"/>
    <h1 class="txt-title">High Quality</h1>
  </div>
  <div class="col-md-6">

  </div>
</div> -->

<div class="title-container">
  <div class="row">

  <div class="col-md-6 no-padding-right">
    <img class="img-fluid img-title" src="{% static 'ecommerce/img/pink-paper-hearts.jpg' %}"/>
  </div>
  <div class="col-md-6">

  </div>
  
</div>
<div class="div-txt-title">
  <h1 class="txt-title">
    <span class="txt-title-1">High Quality</span>
     <span class="txt-title-2">and Creative</span>
    </h1>
    
</div>
</div>



<main class="mt-5 pt-4">
  <div class="container">
    <button class="btn btn-primary">Accept</button>
    
  </div>
</main>
{% endblock content %}


