
{% extends "ecommerce/base.html" %}
{% load static %}
{% block content %}
<div class="title-container">
  <div class="row">
    <div class="col-md-6 no-padding-lr div-img-title">
      <img class="img-fluid img-title" src="{% static 'ecommerce/img/pink-paper-hearts.jpg' %}"/>
    </div>
    <div class="col-md-6 no-padding-lr">

    </div>
  </div>
  <div class="div-txt-title">
    <h1 class="txt-title">
      <span class="txt-title-1">High Quality</span>
      <span class="txt-title-2">and Creative</span>
    </h1>
      
  </div>
</div>

<div class="title-2-container landing-mt">
  <div class="row">
    <div class="col-md-12 no-padding-lr">
      <img class="img-fluid" src="{% static 'ecommerce/img/color-pencils-blur.jpg' %}"/>
    </div>
    <div class="div-txt-title-2 no-padding-lr">
      <h2 class="txt-title-3">
        DECORATE LIFE
      </h2>
      <p class="txt-title-3-label">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus velit ac neque dignissim, blandit luctus orci porta. In rhoncus libero at justo lacinia dignissim vel sit amet dolor. Praesent odio tellus, hendrerit in dapibus sit amet, pharetra ut nunc. Mauris scelerisque ante ex, eu fringilla mauris commodo volutpat.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row landing-mt">
    <div class="col-md-5 div-desc-1 text-center">
      <h3 class="txt-title-4">CUSTOMIZED DESIGNS</h3>
      <p class="txt-title-4-label">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacus sem, semper quis velit ut, pharetra ornare arcu. In fringilla, neque sit amet cursus congue, tellus urna cursus est, et sagittis metus sapien vitae nisi.
      </p>
      <div>
        <button class="btn btn-secondary">Explore Gallery</button>
      </div>
    </div>
    <div class="col-md-7 no-padding-lr">
      <img class="img-fluid landing-immage-p" src="{% static 'ecommerce/img/cutout.jpg' %}"/>
    </div>
  </div>

  <div class="row landing-mt">
    <div class="col-md-7 no-padding-lr">
      <img class="img-fluid landing-immage-p" src="{% static 'ecommerce/img/topper.png' %}"/>
    </div>
    <div class="col-md-5 div-desc-2 text-center">
      <h3 class="txt-title-4">CRAFTS TO CHERISH</h3>
      <p class="txt-title-4-label">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacus sem, semper quis velit ut, pharetra ornare arcu. In fringilla, neque sit amet cursus congue, tellus urna cursus est, et sagittis metus sapien vitae nisi.
      </p>
      <div>
        <button class="btn btn-secondary">Browse Collections</button>
      </div>
    </div>
  </div>
</div>




<main class="mt-5 pt-4">
  
</main>
{% endblock content %}


