{% extends "ecommerce/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<main class="mt-5 pt-4">
  <div class="container wow fadeIn">
    <h2 class="my-5 h2 text-center">User Information</h2>
    
    <div class="row">
      <div class="col-md-8 mb-4">
        <div class="card">
          <div class="row my-3">
            <div class="col-md-12 px-5">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ u_form.non_field_errors }}

                <div class="row justify-content-center">
                  <div class="col-md-5 text-center mb-4">
                    <a href="{{ customer.image.url }}" target="_blank">
                      <img class="profile-img" src="{{ customer.image.url }}" alt="{{ customer.first_name }} {{ customer.last_name}}" srcset="">
                    </a>
                  </div>
                </div>

                <div class="row mb-4 mt-2 justify-content-center">
                  <div class="col-md-12">
                    {% comment %}
                    {{ form.image.errors }}
                    <label for="{{ form.image.id_for_label }}">Image</label>
                    {{ form.image }}
                    {% endcomment %}
                    <div class="custom-file">
                      {{ form.image }}
                      <label class="custom-file-label" for="customFile">replace image</label>
                    </div>
                  </div>
                </div>

                <div class="row mb-4">
                  <div class="col-md-12">
                    {{ u_form.username.errors }}
                    <label for="{{ u_form.username.id_for_label }}">Username</label>
                    {{ u_form.username }}
                  </div>
                </div>

                <div class="row mb-4">
                  <div class="col-md-6">
                    {{ form.first_name.errors }}
                    <label for="{{ form.first_name.id_for_label }}">First name</label>
                    {{ form.first_name }}
                  </div>
                  <div class="col-md-6">
                    {{ form.last_name.errors }}
                    <label for="{{ form.last_name.id_for_label }}">Last name</label>
                    {{ form.last_name }}
                  </div>
                </div>

                <div class="row mb-4">
                  <div class="col-md-12">
                    {{ form.email.errors }}
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    {{ form.email }}
                  </div>
                </div>

                <div class="row mb-4">
                  <div class="col-md-6">
                    {{ form.contact1.errors }}
                    <label for="{{ form.contact1.id_for_label }}">Contact no.</label>
                    {{ form.contact1 }}
                  </div>
                  <div class="col-md-6">
                    {{ form.contact2.errors }}
                    <label for="{{ form.contact2.id_for_label }}">Alternate contact</label>
                    {{ form.contact2 }}
                  </div>
                </div>
                
                <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
              </form>
            </div>
            
            
          </div>
          
          
        </div>
      </div>
      <!-- SIDEBAR -->
      <div class="col-md-4 mb-4">
        <ul class="list-group mb-3 z-depth-1">
          <a href="{% url 'users:profile' %}">
            <li class="list-group-item d-flex justify-content-between bg-light">Profile</li>
          </a>
          <a href="{% url 'users:addresses' %}">
            <li class="list-group-item d-flex justify-content-between">Addresses</li>
          </a>
          <a href="{% url 'users:orders' %}">
            <li class="list-group-item d-flex justify-content-between">Orders</li>
          </a>
          <a href="{% url 'users:payments' %}">
            <li class="list-group-item d-flex justify-content-between">Payments</li>
          </a>
        </ul>
      </div>
    </div>


  </div>
</main>
{% endblock content %}