/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
/* html,
body,
.view {
  height: 100%; } */

/* Half Page Carousel itself*/
/* .carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; } */

/* Adjustment for mobile devices*/
/* @media (max-width: 776px) {
  .carousel {
    height: 100%; } } */

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #929FBA; 

  /* position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px; */
}

/* .modal-body{
  word-break: break-all;
} */

.no-padding {
  padding: 0 !important;
}

.no-padding-lr {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.anchor{
  position: relative;
  padding-top: 100px;
}
a:active, a:focus, a:visited {
  box-shadow: none;
  outline: none;
 }

.word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  white-space: pre-line;
}

.img-fluid {
  max-width: 100%;
  height: auto
}

.carousel-control-next {
  /* opacity:1 !important; */
  color:gray;
}
.carousel-control-prev {
  /* opacity:1 !important; */
  color:gray;
}

.carousel-control-next:hover {
  color: slategray;
}

.carousel-control-prev:hover {
  color: slategray;
}

.form-control:focus {
  border-color: #f7bbcb;
  /* border-color: #ced4da; */
  box-shadow: 0 0 0 0.1rem rgba(247, 187, 203, 1);
}


/* TEXT COLORS */
.text-warning {
  color: #f0ad4e;  
}

/* SPECIFIC */
.th-cart {
  width: 15%;
}
.td-cart {
  width: 30%;
}
.th-summary-img {
  width: 20%;
}
.profile-img{
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

a .list-group-item, .item-label, .item-label:hover {
  color: #212529; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}


/* LANDING PAGE */
/****************/
.title-container {
  position: relative;
  /* height: 80vh; */
}
/* .div-img {
  height: 100vh;
} */

/* .img-title {
  width: 100%;
} */

.div-txt-title {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

.txt-title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 5.2rem;
}

.txt-title-1 {
  color: #fff;
}

.txt-title-2 {
  color: #f7bbcb;
  text-shadow: 1px 1px 4px #ddd;
}

/* TITLE 2 */
.title-2-container {
  position: relative;
  /* margin-top: 10rem; */
}

.div-txt-title-2 {
  position: absolute;
  top: 15%;
  width: 100%;
  text-align: center;
}

.txt-title-3 {
  /* color: #f7bbcb; */
  color: #fff;
  /* font-family: 'Lato', sans-serif; */
  /* font-size: 6rem; */
  font-size: 3.8vw;
  font-weight: 500;
  /* text-shadow: 1px 1px 4px #999; */
}

.txt-title-3-label {
  color: #fff;
  /* font-size: 1.4rem; */
  font-size: 1.3vw;
  width: 60%;
  margin: auto;
  /* margin-top: 20px; */
  margin-top: 2%;
  font-weight: 300;
  /* text-shadow: 0.1px 0.1px 4px #999; */
  /* text-shadow: 1px 1px 4px #999; */
}

.landing-mt {
  margin-top: 10rem;
}

.div-desc-1 {
  padding: 3rem 4rem 0 0;
}

.div-desc-2 {
  padding: 3rem 0 0 4rem;
}

.txt-title-4 {
  color: #f7bbcb;
  text-shadow: 1px 1px 4px #ddd;
  font-size: 2.5rem;
  font-weight: 500;
}

.txt-title-4-label {
  color: #6c757d;
  font-size: 1.3rem;
}


/******************************/
/*          HOME PAGE         */
/******************************/
.tags {
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  margin: auto
}

/* @media (max-width: 767px){
  .div-img-title {
    height: 20rem;
  }
}

@media (max-width: 575px){
  .div-img-title {
    height: 15rem;
  }
}

@media (max-width: 480px){
  .div-img-title {
    height: 12rem;
  }
} */


/******************************/
/*          ITEM PAGE         */
/******************************/
.other-items {
  width: 60%;
}

.star-rating {
  /* line-height:32px;*/
  font-size:1.25em; 
  cursor: pointer;
}

.fa-star {
  color: #f7bbcb;
  /* box-shadow:  2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); */
}

.fa-star-o {
  /* color: #ced4da; */
  color: #f7bbcb;
}

.img-review {
  width: 150px;
}

.img-reviewer {
  height: 4rem;
  width: 4rem;
  /* margin-right: 1px; */
}


/* STRIPE SPECIFIC */
/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

/* #stripeBtn {
  border: none;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  color: #fff;
  background: #32325d;
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.025em;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  float: left;
  width: 100%
  } */
  #stripeBtn {
    float: right;
  }




  